#Write a regex to extract all the numbers with orange color background from the below text in italics.#


{"orders":[{"id":1},{"id":2},{"id":3},{"id":4},{"id":5},{"id":6},{"id":7},{"id":8},{"id":9},{"id":10},{"id":11},{"id":648},{"id":649},{"id":650},{"id":651},{"id":652},{"id":653}],"errors":[{"code":3,"message":"[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)"}]} italicized text

Importing libraries

In [ ]:
import re

Input the required string as my_str variable

In [ ]:
my_str="""
{"orders":[{"id":1},{"id":2},{"id":3},{"id":4},{"id":5},{"id":6},{"id":7},{"id":8},{"id":9},{"id":10},{"id":11},{"id":648},{"id":649},{"id":650},{"id":651},{"id":652},{"id":653}],"errors":[{"code":3,"message":"[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)"}]}
"""

Using regular expression to extract the pattern "id":(num) and "code":(num) and appending it in the output list

In [ ]:
matches=re.findall('"id":[0-9]+',my_str)
output_list=[]
for match in matches:
    output_list.append(match)
matches2=re.findall('"code":[0-9]+',my_str)
for i in matches2:
  output_list.append(i)
    
output_list

['"id":1',
 '"id":2',
 '"id":3',
 '"id":4',
 '"id":5',
 '"id":6',
 '"id":7',
 '"id":8',
 '"id":9',
 '"id":10',
 '"id":11',
 '"id":648',
 '"id":649',
 '"id":650',
 '"id":651',
 '"id":652',
 '"id":653',
 '"code":3']

Extracting the numbers and appending it in the final list as output

In [ ]:
final_list=[]
for i in output_list:
  x=re.findall('[0-9]+',i)
  for j  in x:
    final_list.append(int(j))
print(final_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 648, 649, 650, 651, 652, 653, 3]